<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: #efb9b9;
        }

        .row {
            margin-top: 8px;
        }

        h3 {
            background-repeat: no-repeat;
            padding: 2px;
            padding-left: 30px;
        }

        .errors {
            color: #de0101;
        }
    </style>

</head>
<body>

<!-- Book creation -->
<form id="edit-form" action="add_book.html" th:action="@{/add(title=${title},author=${author},genre=${genre})}"
      th:method="post">
    <h3 th:text="#{book-form-header}">Add Book Info:</h3>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="Idiot"/>
    </div>

    <div class="row">
        <label for="book-author-input">Author:</label>
        <input id="book-author-input" name="author" type="text" value="Dostoevskiy"/>
    </div>

    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <input id="book-genre-input" name="genre" type="text" value="Roman"/>
    </div>

    <div class="row">
        <button type="submit" th:text="#{save-button-caption}">Save</button>
        <a href="book_list.html" th:href="@{/}">
            <button type="button" th:text="#{cancel-button-caption}">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>
