<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 8px;
        }

        h3 {
            background-repeat: no-repeat;
            padding: 2px;
            padding-left: 30px;
        }

        .errors {
            color: #db1b1b;
        }
    </style>

</head>
<body>

<!-- Book edition -->
<form id="delete-form" action="del_book.html"
      th:action="@{/delete(id=${book.id})}"
      th:method="post"
      th:object="${book}">
    <h3 th:text="#{book-form-header}">Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="*{id}" value="1"/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" readonly="readonly" th:value="*{title}" value="Idiot"/>
    </div>

    <div class="row">
        <label for="book-author-input">Author:</label>
        <input id="book-author-input" name="author" type="text" readonly="readonly" th:value="*{author}"
               value="Dostoevskiy"/>

    </div>

    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <input id="book-genre-input" name="genre" type="text" readonly="readonly" th:value="*{genre}" value="Roman"/>

    </div>

    <div class="row">
        <button type="submit" th:text="#{delete-button-caption}">Delete</button>
        <a href="book_list.html" th:href="@{/}">
            <button type="button" th:text="#{cancel-button-caption}">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>
